@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (dark mode) */
body {
    @apply bg-background text-body;
}

/* Theme Classes */
.theme-title {
    @apply text-4xl sm:text-6xl md:text-8xl text-title;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.theme-subtitle {
    @apply text-xl md:text-3xl lg:text-3xl text-subtitle;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

.theme-body,
.theme-muted {
    @apply text-sm md:text-base lg:text-lg text-body leading-5 sm:leading-7;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

.theme-muted {
    @apply text-muted;
    font-weight: 200;
}

.theme-code {
    @apply text-body;
    font-family: "Source Code Pro", sans-serif;
    font-weight: 300;
}

.theme-link {
    @apply text-body duration-300 hover:text-primary;
    text-decoration-line: underline;
    text-underline-offset: 20%;
}

/* Light mode overrides */
body.light-mode {
    @apply bg-background-light text-body-light;
}
body.light-mode .bg-content {
    @apply bg-content-light;
}
body.light-mode .text-shine {
    @apply text-shine-light;
}
body.light-mode .bg-shine {
    @apply bg-shine-light;
}
body.light-mode .bg-shadow {
    @apply bg-shadow-light;
}

body.light-mode .text-title {
    @apply text-title-light;
}

body.light-mode .text-subtitle {
    @apply text-subtitle-light;
}

body.light-mode .text-body {
    @apply text-body-light;
}

body.light-mode .text-muted {
    @apply text-muted-light;
}

body.light-mode .theme-link {
    @apply text-body-light hover:text-primary;
}

body.light-mode .text-subtitle {
    @apply text-subtitle-light;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}
